body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    width: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

table {
    width: 100%;
    margin: 10px 0;
}

th, td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

#encabezado_tabla {
    background-color: #1C4040;
    color: white;
    text-align: center;
}

#alumno {
    background-color: #20639B;
    color: white;
    text-align: center;
    width: 150px;
    height: 60px; 
    font-size: 16px; 
    padding: 10px; 
}

h1 {
    font-size: 20px;
    margin: 0;
}

th {
    background-color: #1C4040;
    color: white;
    text-align: left;
    padding: 8px;
}

#boton_logout, #boton_perfil {
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 10px;
}

header {
    width: 100%;
    display: flex;
    background-color: #1C4040;
    color: white;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
}

header p {
    font-size: 24px;
    margin: 0;
}

form {
    display: flex;
    justify-content: center;
    height: 30px;
}

#botones {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    
}

#pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#paginacion {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pagina_input {
    width: 30px;
    text-align: center;
}